<section class="about">
  <div class="description">
    <h2 class="title">About <span class="marked mark">Us</span></h2>
    <p class="about-text">We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment</p>
  </div>
  <ol class="about-list">
    <li class="about-list-item">Expert, innovative teaching staff</li>
    <li class="about-list-item">Wide range of course levels and options</li>
    <li class="about-list-item">Multicultural learning environment</li>
    <li class="about-list-item">Comprehensive language support services</li>
  </ol>
  <div class="about-memoji">
    <div class="about-memoji-photo"></div>
  </div>
</section>