<section id="application">
  <div class="container">
    <h2 class="title">Leave an <span class="marked mark">application</span></h2>
    <p class="application-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="application">
      <div class="application-info">
        <img
          class="application-img"
          src="../img/leave-an-application.jpg"
          alt="A young girl sitting at a table in front of a computer, practicing exercises."
        />
        <p>
          <span class="number">1000</span>of our online English language lessons! This journey
          has been full of discovery, growth and unforgettable moments, and we
          are happy to share this joyful event with you.
        </p>
      </div>
      <form
        class="application-form"
        action="/actions/confirmation.php"
        method="post"
      >
        <input
          class="input-basic"
          type="text"
          name="name"
          placeholder="Name"
          required
        />
        <input
          class="input-basic"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="input-basic"
          type="tel"
          name="phone"
          placeholder="Phone"
        />
        <textarea
          class="input-basic"
          name="comment"
          rows="4"
          placeholder="Comment"
        ></textarea>

        <p class="radio-title">Choose a teacher</p>
        <label class="radio-label"
          >Maria <input type="radio" name="teacher" value="Maria"
        /></label>
        <label class="radio-label"
          >Artem <input type="radio" name="teacher" value="Artem"
        /></label>
        <label class="radio-label"
          >Ilona <input type="radio" name="teacher" value="Ilona"
        /></label>
        <label class="radio-label"
          >Volodymyr <input type="radio" name="teacher" value="Volodymyr"
        /></label>

        <button class="button form-btn" type="submit">Send</button>

        <p class="privacy-policy">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
