<section id="application" id="application">
  <div class="container">
    <h2 class="title">Leave an <span class="mark">application</span></h2>
    <p class="application-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="application">
      <div class="application-info">
        <div class="benefits">
          <p>
            <span class="number">1000</span>of our online English language
            lessons! This journey has been full of discovery, growth and
            unforgettable moments, and we are happy to share this joyful event
            with you.
          </p>
        </div>
      </div>
      <form
        class="application-form"
        action="/actions/confirmation.php"
        method="post"
      >
        <input
          class="input-field"
          type="text"
          name="name"
          placeholder="Name"
          autocomplete="on"
          pattern="[A-Za-z ]+"
          required
        />
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="on"
          required
        />
        <input
          class="input-field"
          type="tel"
          name="phone"
          autocomplete="on"
          placeholder="Phone"
          pattern="^\+?(\d{1,4})?(\s|\-)?\(?(\d{1,4})\)?(\s|\-)?\d{1,4}(\s|\-)?\d{1,4}$"
          required
        />
        <textarea
          class="input-field"
          name="comment"
          rows="4"
          placeholder="Comment"
        ></textarea>

        <p class="radio-title">Choose a teacher</p>
        <div class="radio-group">
          <input id="maria" type="radio" name="teacher" value="Maria" checked />
          <label for="maria" class="radio-label">Maria</label>

          <input id="artem" type="radio" name="teacher" value="Artem" />
          <label for="artem" class="radio-label">Artem</label>

          <input id="ilona" type="radio" name="teacher" value="Ilona" />
          <label for="ilona" class="radio-label">Ilona</label>

          <input id="volodymyr" type="radio" name="teacher" value="Volodymyr" />
          <label for="volodymyr" class="radio-label">Volodymyr</label>
        </div>
        <button class="button form-btn" type="submit">Send</button>

        <p class="privacy-policy">
          By clicking on “Send” button, you agree to our
          <a class="underline" href="/privacy-policy">Privacy Policy</a>,
          <br />and allow Promodo to use this information for marketing
          purposes.
        </p>
      </form>
    </div>
  </div>
</section>
