<section class="lessons" id="our-lessons">
  <div class="container">

      <h2 class="title">Our <span class="marked mark">lessons</span></h2>
      <p class="text">Our lessons are carefully structured and interactive, designed to promote rapid language acquisition through practical tasks and real-world scenarios</p>

    <ul class="lessons-list">
      <li class="lessons-list-item">
        <p class="lessons-name">Practice</p>
        <p class="lessons-price">40$ / month</p>
        <p class="text-sm">
          This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English.
        </p>
        <a href="#contact-us" class="button">Leave an application</a>
      </li>
      <li class="lessons-list-item lessons-list-item-primary">
        <p class="lessons-name">Standard</p>
        <p class="lessons-price">70$ / month</p>
        <p class="text-sm">
          Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills.
        </p>
        <a href="#contact-us" class="button">Leave an application</a>
      </li>
      <li class="lessons-list-item">
        <p class="lessons-name">Individual</p>
        <p class="lessons-price">99$ / month</p>
        <p class="text-sm">
          We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback.
        </p>
        <a href="#contact-us" class="button">Leave an application</a>
      </li>
    </ul>
  </div>
</section>