<section class="proposal" id="proposal">
  <div class="proposal-content">
    <h2 class="hidden-title">hidden title</h2>
    <div class="proposal-title">
      Master the <span class="proposal-title-Language">Language</span> with Our
      English Package!
    </div>
    <div class="power-of-english-wrapper">
      <div class="background-layer layer1"></div>
      <div class="background-layer layer2"></div>

      <div class="power-of-english">
        <div class="power-part">
          <h3 class="power-text">Power of English</h3>
          <!-- ul power list -->
          <ul class="power-list">
            <li class="power-list-item">
              <span class="power-icons">
                <svg class="power-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-check"></use>
                </svg>
              </span>
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </li>
            <li class="power-list-item">
              <span class="power-icons">
                <svg class="power-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-check"></use>
                </svg>
              </span>
              Learn in a nurturing setting where every student's progress
              matters.
            </li>
            <li class="power-list-item">
              <span class="power-icons">
                <svg class="power-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-check"></use>
                </svg>
              </span>
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </li>
          </ul>
          <!-- END ul power list -->
          <button class="button" type="button">Leave an application</button>
        </div>
        <div class="books">
          <img
            class="books-img"
            width="214"
            height="263"
            src="./img/proposal/books.png"
            srcset="./img/proposal/books.png 1x, ./img/proposal/books@2x.png 2x"
            alt="books"
          />
        </div>
      </div>
    </div>
  </div>
</section>
