
  <section class="proposal">
  <div class="container">
    <h2><span class="proposal-title">Master the </span><span class="proposal-title-Language">Language <span class="proposal-title-end">with Our English Package!</h2>
   
      
    <div class="power-of-english">
      <div class=power-part>
  <p class="power-text">Power of English</p>
      <ul class="power-list">
        <li class="power-list-item">Dive into captivating lessons designed to stimulate your curiosity.</li>
        <li class="power-list-item">Learn in a nurturing setting where every student's progress matters.</li>
        <li class="power-list-item">Experience the satisfaction of real progress as your language skills and confidence grow with every session.</li>
      </ul>
      </div>
    </div>

    <div class="books">
        <picture>
                <source
                  srcset="./img/proposal/books.png 1x, ./img/proposal/books@2x.png 2x"
                  media="(max-width: 767px)"
                />
                </picture>
    </div>
    
    <button class="button" type="button">Leave an application</button>
  </div>
</section>








