<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews-about">
      <h2 class="title">What our <span class="mark">students</span> say</h2>
      <p>
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>
    <ul class="reviews-reviews-list keen-slider">
      <!-- card -->
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/students/anna.webp"
              alt="Anna"
              width="50"
              height="50"
              srcset="
                ./img/students/anna.webp    1x,
                ./img/students/anna@2x.webp 2x,
                ./img/students/anna@4x.webp 3x
              "
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Anna</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/students/mykhailo.webp"
              alt="Mykhailo"
              width="50"
              height="50"
              srcset="
                ./img/students/mykhailo.webp    1x,
                ./img/students/mykhailo@2x.webp 2x,
                ./img/students/mykhailo@4x.webp 3x
              "
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Mykhailo</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/students/victoria.webp"
              alt="Victoria"
              width="50"
              height="50"
              srcset="
                ./img/students/victoria.webp    1x,
                ./img/students/victoria@2x.webp 2x,
                ./img/students/victoria@4x.webp 3x
              "
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Victoria</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
