<section class="reviews">
  <div class="container">
    <div class="reviews-about">
      <h2>
        What our <span class="reviews-title-underline">students</span> say
      </h2>
      <p>
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>
    <ul class="reviews-reviews-list keen-slider">
      <!-- card -->
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/reviewers/anna.jpg"
              alt="Anna"
              width="50px"
              height="50px"
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Anna</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/reviewers/mykhailo.jpg"
              alt="Mykhailo"
              width="50px"
              height="50px"
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Mykhailo</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="reviews-review-card keen-slider__slide">
        <!-- profile -->
        <div class="reviews-review-card-profile">
          <div class="reviews-profile-photo">
            <img
              src="/img/reviewers/victoria.jpg"
              alt="Victoria"
              width="50px"
              height="50px"
            />
          </div>
          <div class="reviews-review-card-profile-info">
            <span class="reviews-card-profile-name">Victoria</span>
            <span class="reviews-card-profile-status">Student</span>
          </div>
        </div>
        <!-- review -->
        <p class="reviews-review">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
