<section class="teachers-section" id="our-teachers">
  <div class="teachers-container">
    <h2 class="teachers-section-heading">
      Meet our <span class="teachers-word-effect">teachers</span>
    </h2>
    <p class="teachers-section-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-item">
        <div class="teachers-card">
          <img
            class="teachers-img"
            srcset="
              ./img/teachers/maria.webp    1x,
              ./img/teachers/maria@2x.webp 2x,
              ./img/teachers/maria@4x.webp 4x
            "
            src="./img/teachers/maria.webp"
            alt="teacher-Maria"
            width="150"
            height="150"
            loading="lazy"
          />
          <h3 class="teachers-name">Maria</h3>
          <p class="teachers-description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <div class="teachers-card">
          <img
            class="teachers-img"
            srcset="
              ./img/teachers/artem.webp    1x,
              ./img/teachers/artem@2x.webp 2x,
              ./img/teachers/artem@4x.webp 4x
            "
            src="./img/teachers/artem.webp"
            alt="teacher-Artem"
            width="150"
            height="150"
            loading="lazy"
          />
          <h3 class="teachers-name">Artem</h3>
          <p class="teachers-description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <div class="teachers-card">
          <img
            class="teachers-img"
            srcset="
              ./img/teachers/ilona.webp    1x,
              ./img/teachers/ilona@2x.webp 2x,
              ./img/teachers/ilona@4x.webp 4x
            "
            src="./img/teachers/ilona.webp"
            alt="teacher-Ilona"
            width="150"
            height="150"
            loading="lazy"
          />
          <h3 class="teachers-name">Ilona</h3>
          <p class="teachers-description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <div class="teachers-card">
          <img
            class="teachers-img"
            srcset="
              ./img/teachers/volodymyr.webp    1x,
              ./img/teachers/volodymyr@2x.webp 2x,
              ./img/teachers/volodymyr@4x.webp 4x
            "
            src="./img/teachers/volodymyr.webp"
            alt="teacher-Volodymyr"
            width="150"
            height="150"
            loading="lazy"
          />
          <h3 class="teachers-name">Volodymyr</h3>
          <p class="teachers-description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
