.about{
  padding-bottom: 150px;
}

.about-headline {
  margin-bottom: 40px;

  @media only screen and (min-width: 768px) {
      margin-bottom: 64px;
  }
}

.about-title {
  color: var(--black);
  text-align: center;
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
  }

  @media only screen and (min-width: 1280px) {
    font-weight: 700;
  }
}

.about-description {
  color: rgba(18, 20, 23, 0.50);
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.66;
  }
}

.about-info {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
  }
  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: start;
  }
}

.about-list {
  counter-reset: list-counter;
  list-style: none;
  display: grid;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    grid-row: 1 / 3;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media only screen and (min-width: 1280px) {
    grid-column: 1 / 3;
  }
}

.about-list-item {
  counter-increment: list-counter;
  position: relative;
  color: var(--black);
  background-color: var(--gray);
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  border-radius: 16px;
  padding: 80px 32px 32px 32px;
  font-weight: bold;

  @media only screen and (min-width: 768px) {
    border-radius: 30px;
  }
}

.about-list-item::before {
  content: counter(list-counter, decimal-leading-zero);
  position: absolute;
  top: 47px;
  left: 48px;
  transform: translate(-50%, -50%);
  color: var(--green);
  font-family: inherit;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.about-memoji {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--green);
  min-height: 313px;

  @media only screen and (min-width: 768px) {
    grid-column: 1 / -1;
    grid-row: 3;
    border-radius: 30px;
    min-height: 243px;
    margin-top: 16px;
  }

  @media only screen and (min-width: 1280px) {
    grid-column: 3;
    grid-row: 1 / -1;
    .item-1 { grid-area: 1 / 1; }
    .item-2 { grid-area: 1 / 2; }
    .item-3 { grid-area: 2 / 1; }
    .item-4 { grid-area: 2 / 1; }
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: 0;
    margin-left: 16px;
  }
}

.about-memoji-photo {
  width: 254px;
  min-height: 172px;
  padding: 18px 0 21px;
  background-image: url('../img/memoji.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



