/* Mobile 375px */

#application {
  margin-bottom: 80px;
}

#application .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application-text {
  text-align: center;
  margin-bottom: 20px;
}

.application-info {
  display: none;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid var(--black_10);
}

.input-field::placeholder {
  color: var(--black);
  font-size: 14px;
  font-family: var(--font-family);
}

.input-field:not(:last-child) {
  margin-bottom: 18px;
}

.input-field:focus {
  border: none;
  outline: 1px solid var(--green);
}

textarea {
  resize: none;
}

.radio-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24 / 18);
  letter-spacing: -0.36px;
  margin-bottom: 14px;
}

/* #region Radio btn */

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: var(--black);
  line-height: 1.71;
  position: relative;
  /* cursor: pointer; */
}

input[type='radio'] + label:before {
  content: '';
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 2px solid rgba(18, 20, 23, 0.2);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 9px;
}

input[type='radio']:checked + label:before {
  width: 10px;
  height: 10px;
  background-color: var(--green);
  border: 3px solid var(--white);
  z-index: 5;
  left: 2px;
  margin-right: 13px;
}

input[type='radio']:checked + label:after {
  background-color: var(--green);
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 9px;
}

/* #endregion */

.form-btn {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
}

.privacy-policy {
  font-size: 12px;
  color: var(--black_50);
  line-height: calc(16 / 12);
}

a.underline {
  color: var(--black_50);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* #region Tablet 768px */

@media only screen and (min-width: 768px) {
  .application-text {
    max-width: 630px;
    margin-bottom: 64px;
  }

  .application-form {
    max-width: 500px;
  }
  .radio-group {
    flex-direction: row;
    gap: 16px;
  }

  input[type='radio'] + label {
    font-size: 18px;
    cursor: pointer;
  }

  .privacy-policy {
    font-size: 14px;
    color: var(--black_50);
    line-height: calc(24 / 14);
  }
}

/* #endregion */

/* #region Desktop 1280px */

@media only screen and (min-width: 1280px) {
  .application {
    display: flex;
    column-gap: 32px;
  }

  .application-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    max-width: 492px;
    background-image: url('../img/application/leave-an-application@2x.png');
    background-repeat: no-repeat;
    background-position: bottom 186px left 0;
    background-size: 492px;
    border-radius: 30px;
    background-color: var(--green);
  }

  .benefits {
    margin: 20px 20px 40px 20px;
    color: var(--light-gray);
    text-align: center;
  }

  .number {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: calc(48 / 40);
    color: var(--white);
    margin-bottom: 8px;
  }
}

/* #endregion */
