:root {
  /* Colors */
  --black: #121417;
  --green: #4dc274;
  --green_linear: linear-gradient(85deg, #4dc274 2.25%, #bee8cc 131.25%);
  --highlight-green: #bee8cc;
  --light-green: #d4fde1;
  --gray: #f3f5f6;
  --white: #fff;
  --black_80: rgba(18, 20, 23, 0.5);
  --red: #ff4d4f;

  --font-family: 'Manrope', sans-serif;
  --section-padding: 80px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --tablet-container-max-width: 768px;
  --desktop-container-max-width: 1280px;
  --container-max-width: 375px;
}

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(18, 20, 23, 0.5);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}


.title {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(36 / 32);
  letter-spacing: 0.02em;
  text-align: center;
  color: #121417;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: calc(48 / 40);
    letter-spacing: 0.02em;
  }
}

.marked {
  position: relative;
}

.mark::after {
  position: absolute;
  content: '';
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background: #bee8cc;
  z-index: -1;
}
