.button {
  border-radius: 12px;
  padding-inline: clamp(16px, 320px, 64px);
  background: #4dc274; /* TODO: replace with variable once added */
  border: none;
  font-family: 'Manrope', sans-serif; /* TODO: replace with variable once added */
  font-weight: 700;
  font-size: 14px;
  color: #fff; /* TODO: replace with variable once added */
  display: inline-block;
  line-height: 3.71;
}

.button:hover,
.button:focus {
  background: #38ae5f;
  cursor: pointer;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .button {
    line-height: 3.33;
    font-size: 18px;
  }
}
