.button {
  border-radius: 12px;
  padding-inline: clamp(16px, 320px, 64px);
  background: var(--green);
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  display: inline-block;
  line-height: 3.71;
  text-align: center;
  transition: background-color var(--transition);
}

.button:hover,
.button:focus {
  background: #38ae5f;
  cursor: pointer;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .button {
    line-height: 3.33;
    font-size: 18px;
  }
}
