.footer {
  font-family: 'Manrope', sans-serif;
  background-color: var(--black);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@media screen and (min-width: 375px) {
  .footer {
    margin: 0 auto;
    padding: 40px 0px 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0 16px 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 64px 0 23px 0;
  }
}

.footer-wrapper {
  position: relative;
}

.footer-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 126px;
  }

  .footer-wrapper::after {
    bottom: -110px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    margin-bottom: 87px;
  }

  .footer-wrapper::after {
    bottom: -64px;
  }
}

.footer-logo {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 20px;
}
.footer-logo-span {
  color: var(--green);
}
.footer-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  margin-bottom: 4px;
}

.footer-contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: var(--white);
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: var(--white);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 42px;
  height: 42px;
}

.icon {
  fill: var(--white);
}

.link:hover {
  border: 1px solid rgba(77, 194, 116, 0.1);
}
.link:hover .icon {
  fill: var(--green);
}
.link:focus .icon {
  fill: var(--green);
}

.container-social {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
}

.container-copyright {
  display: flex;
  flex-direction: column;
  gap: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .container-copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-copyright-links {
  display: flex;
  gap: 18px;
}
.footer-copyright-link:hover {
  opacity: 0.7;
}

.nav-link {
  position: relative;
}
.nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 37px;
  height: 2px;
  background-color: var(--green);
}
