.hero-section h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: white;
  max-width: 564px;
  margin-bottom: 40px;
}

.hero-section {
  max-width: 1152px;
  background: linear-gradient(
      114deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 60%
    ),
    url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85% center;
  border-radius: 16px;
  position: relative;
  padding: 425px 0 70px 0;
}

.hero-section .container {
  margin: 0;
}

.accent {
  color: #bee8cc;
}

.to-footer {
  position: absolute;
  display: flex;
  bottom: 14px;
  right: 14px;
  padding: 9px;
  border-radius: 100%;
  border: none;
  background-color: white;
  fill: #4dc274; /* TODO: replace with variable once added */
  cursor: pointer;
}

.to-footer svg {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .hero-section h1 {
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 32px;
  }

  .hero-section {
    border-radius: 30px;
    padding: 164px 0;
  }

  .to-footer {
    bottom: 32px;
    right: 32px;
    padding: 12px;
  }

  .to-footer svg {
    width: 24px;
    height: 24px;
  }
}
