.reviews {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 150px;
  }
}
.reviews > .container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.reviews-about {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.reviews-about > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.6px;
  /* todo: variable color */
  color: var(--black);
  text-align: center;
}

.reviews-title-underline {
  display: inline-block;
  position: relative;
}

.reviews-title-underline::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  z-index: -1;
  /* todo: variable color */
  background-color: var(--highlight-green);
  display: inline-block;
  width: 100%;
  height: 12px;
  border-radius: 8px;
}

.reviews-reviews-list {
  cursor: grab;
}

.reviews-reviews-list:active {
  cursor: grabbing;
}

.reviews-review-card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  border-radius: 16px;
  /* todo: variable color */
  background-color: #f3f5f6;
  row-gap: 20px;
}

.reviews-review-card-profile {
  display: flex;
  height: 78px;
  padding: 14px;
  column-gap: 8px;
  /* todo: variable color */
  background-color: var(--green);
  border-radius: 8px;
}

.reviews-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-review-card-profile-info {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.reviews-card-profile-name {
  font-weight: 700px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  /* todo: variable color */
  color: #ffffff;
}

.reviews-card-profile-status {
  font-weight: 400px;
  font-size: 12px;
  line-height: 16px;
  /* todo: variable color */
  color: rgba(255, 255, 255, 0.5);
}

.reviews-review {
  /* todo: variable color */
  color: rgba(18, 20, 23, 0.5);
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
